.footer{
	height: 40vh;
	width: 100vw;
	background-color: var(--offwhite);
}
.footer-main{
	height: 100%;
	background-color: var(--offwhite);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.footer-main h1{
	text-align: center;
	font-size: 3rem;
	font-family: var(--main-font);
}