.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.home-main{
	height: 80vh;
	width: 100%;
	/* background-color: aquamarine; */
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-main:nth-child(1){
	background-image: url(https://images.pexels.com/photos/3613019/pexels-photo-3613019.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.home-main:nth-child(1){
	flex-direction: column;
}
.home-main:nth-child(1) h1{
	z-index: 1;
	text-align: center;
	color: white;
	font-size: 17rem;
	font-family: var(--main-font);
}
.home-main:nth-child(1) p{
	z-index: 1;
	color: white;
	text-align: center;
	font-size: 3rem;
	font-family: var(--main-font);
}
.home-main:nth-child(2){
	min-height: 60vh;
	padding: 20px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.home-main-main{
	width: 45rem;
	height: 60rem;
	padding: 10px;
	border: 5px solid var(--yellow);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	/* background-color: aquamarine; */
}
.home-main-main h1{
	color: black;
	font-size: 5rem;
	font-family: var(--main-font);
}
.home-main-main P{
	color: black;
	font-size: 2rem;
	text-align: center;
	font-family: var(--main-font-text);
}
.home-main:nth-child(3){
	height: 40vh;
	background-image:url(https://images.pexels.com/photos/159775/library-la-trobe-study-students-159775.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
	background-color: rgb(0,0,0,0.5);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: overlay;
}
@media (max-width: 1536px) {
	.home-main-main{
		width: 30rem;
		height: 45rem;
	}
	.home-main-main h1{
		font-size: 4rem;
	}
	.home-main-main P{
		font-size: 1.6rem;
	}
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
	.home-main:nth-child(1) h1{
		font-size: 12rem;
	}
	.home-main:nth-child(1) p{
		font-size: 2rem;
	}
	.home-main-main{
		width: 20rem;
		height: 35rem;
	}
	.home-main-main h1{
		font-size: 3rem;
	}
	.home-main-main P{
		font-size: 1.4rem;
	}
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
	.home-main-main{
		width: 15rem;
		height: 25rem;
	}
	.home-main-main h1{
		font-size: 1.5rem;
	}
	.home-main-main P{
		font-size: 1rem;
	}
}
@media (max-width: 475px) {
	.home-main:nth-child(1) h1{
		font-size: 10rem;	
	}
	.home-main:nth-child(1) p{
		font-size: 1.1rem;
	}
}